/.github/CODEOWNERS @alxshelepenok
/.github/workflows/ @alxshelepenok
/.github/dependabot.yml @alxshelepenok
/install.sh @alxshelepenok
/install.sh.sig @alxshelepenok
/install.ps1 @alxshelepenok
/install.ps1.sig @alxshelepenok
/bin/ @alxshelepenok
/manifest.json @alxshelepenok
/manifest.json.sig @alxshelepenok
/docs/security/ @alxshelepenok
