# julia
*.jl.*.cov
*.jl.mem
Manifest*.toml
LocalPreferences.toml
JuliaLocalPreferences.toml
/packages/grove/coverage/

# storage
storage

# modules
node_modules

# build
.astro
target

# notebooklm
context.txt

# grove
.grove/locks/

# lockfiles
.osv.lock
